.logo {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 10px;
  }
  
  /* NAVBAR*/
  
  .navbar-brand, .nav-link {
    font-family: sans-serif;
    font-size: 20px;
  }
  
  p {
    color: #29231f;
    font-family: sans-serif;
    font-weight: 600;
  }
  
  .h1-main {
    font-size: 24px;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }